.app {
    background-color: rgb(213, 184, 147);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cards-container-pregunta{
    width: 50%;
    height: 90%;
    border: 1px solid black;
}
.cards-container-respuesta{
    width: 50%;
    height: 90%;
    border: 1px solid black;
}

.card {
    display: inline-block;
    margin: 5px;
    height: 120px;
    width: 120px;
    cursor: pointer;
}

.card:hover{
    transform: scale(0.9);
}

.card-image {
    height: 120px;
    width: 120px;
}